<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alisasadkovska.rss">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.alisasadkovska.rss.common.AppController"
        android:allowBackup="true"
        android:icon="@drawable/newslogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m"
        android:fullBackupContent="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.alisasadkovska.rss.ui.FavoritesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.alisasadkovska.rss.ui.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.alisasadkovska.rss.ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.alisasadkovska.rss.ui.NewsDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.alisasadkovska.rss.ui.SourceActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>